<div class="container container-full-width flex">
  <a class="logo-link" routerLink="/">
    <img src="logo-color-transparent.svg" alt="Логотип" height="48">
  </a>

  <div class="content">
    <exsc-menu-header [items]="menuItems"></exsc-menu-header>
    <div class="title"></div>
  </div>



  <div class="container-right">
    <div class="btn-group" *ngIf="!isAuthenticated; else privateTemplate">
      <span routerLink="/login/signin" class="btn btn-primary">Вход </span>
      <span routerLink="/login/signup" class="btn btn-subtle">Регистрация </span>
    </div>




    <ng-template #privateTemplate>
      <div class="notifications">
        <span class="icon bell-32"></span>
        <span class="icon badges-16">3</span>
      </div>
      <div class="account" routerLink="/system/profile">
        <div class="profile"> <span class=" icon user-48"></span></div>
        <span class=" name">{{user?.name}}</span>
      </div>
    </ng-template>
  </div>
</div>
