<section class="main-promo slider">
  <div class="slide slide-1">
    <div class="slide-bg">
      <img src="/blob.svg" height="500" alt="">
      <img class="logo" src="/Logo/Size=large, color=color.svg" height="500" alt="">
    </div>
    <div class="content">
      <h1 class="title-hero">Мероприятия и соревнования</h1>
      <h2 class="title">Спорт это жизнь</h2>
      <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque temporibus autem quasi ab
        corporis beatae, aut necessitatibus molestiae adipisci sequi tenetur, aliquam ipsa neque unde, soluta rem quia
        iste. Vel!
        Quas omnis fuga temporibus placeat, voluptates optio. Ex quis,</div>
      <button type="button mt-20">
        <span class="icon arrow-right-32"></span>
      </button>
    </div>
  </div>

  <div class="service">

  </div>
</section>

<section class="advantages">
  <div class="wrapper screen-lg col-3">
    <exsc-card>
      <h4 headerContent class="heading">Спортсменам и родителям</h4>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex dolorem, vel, excepturi provident vero, molestias
      tenetur aperiam eum minus veniam dicta reiciendis fuga placeat obcaecati beatae nesciunt ipsam iste id.
      <button footerContent routerLink="#" class="btn btn-primary">Преимущества</button>
    </exsc-card>
    <exsc-card>
      <h4 headerContent class="heading">Тренерам и судьям</h4>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia sint aut aspernatur nisi modi. Velit sequi quos et
      nisi consectetur exercitationem distinctio architecto voluptas itaque! Sint in autem molestias quia.
      <button footerContent routerLink="#" class="btn btn-primary">Преимущества</button>
    </exsc-card>
    <exsc-card>
      <h4 headerContent class="heading">Организаторам</h4>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta dolores facere labore odit atque quibusdam saepe
      ratione deleniti similique eligendi. Quo odio esse repudiandae, aperiam aut vero eaque quam blanditiis.
      <button footerContent routerLink="#" class="btn btn-primary">Преимущества</button>
    </exsc-card>
  </div>

</section>

<section class="adverts">

  <div class="wrapper screen-lg">
    <h2 class="title-page ">Анонсы соревнований</h2>
  </div>
  <div class="wrapper">
    <div exscGrabbingScroll class="cards ">
      <exsc-card-event *ngFor="let i of arrayOfNumbers">описание карточки {{i}}. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Recusandae eius quia, ullam ipsum error quo distinctio dignissimos soluta eaque magnam
        aspernatur deserunt similique animi accusamus sit, quae adipisci, amet laborum.</exsc-card-event>

    </div>

  </div>
</section>
