<!-- About Section -->
<section id="about" class="about">
  <div class="overlay-white"></div>
  <div class="container">
    <h2>О компании</h2>
    <p>Мы предоставляем надежные транспортные услуги по всему миру. Наша миссия — обеспечить своевременную и безопасную
      доставку ваших грузов.</p>
  </div>
</section>

<!-- Services Section -->
<section id="services" class="services">
  <div class="container">
    <h2>Наши услуги</h2>
    <div class="service-items flex ">
      <div class="service-item">
        <h3>Международные перевозки</h3>
        <p>Организация перевозок грузов по всему миру.</p>
      </div>
      <div class="service-item">
        <h3>Складские услуги</h3>
        <p>Хранение и управление грузами на наших складах.</p>
      </div>
      <div class="service-item">
        <h3>Логистика</h3>
        <p>Оптимизация маршрутов и управление цепочками поставок.</p>
      </div>
    </div>
  </div>
</section>


<!-- Contact Section -->
<section id="contact" class="contact">
  <div class="container  flex space-between">
    <div class="container container-full-width">
      <h2>Контакты</h2>
      <p>Свяжитесь с нами для получения дополнительной информации.</p>

      <form action="#">
        <input type="text" placeholder="Ваше имя" required>
        <input type="email" placeholder="Ваш email" required>
        <textarea placeholder="Ваше сообщение" required></textarea>
        <button class="btn btn-primary" type="submit">Отправить</button>
      </form>

    </div>
    <div class="image flex ">

      <img src="/blob.svg" height="400">
    </div>
  </div>
</section>
