<div class="header">
  <h2>Анонсы соревнований</h2>
</div>
<div class="body">
  <div class="tabs">
    <div class="tab active"><span>Престоящие</span></div>
    <div class="tab"><span>Прошедшие</span></div>
    <div class="tab"><span>Мои</span></div>
  </div>
  <div class="dashboard">
    <aside class="filter">
      <div class="filter-event">фильтрация событий</div>
    </aside>
    <div class="cards tiles">
      <exsc-card-event></exsc-card-event>
      <exsc-card-event></exsc-card-event>
      <exsc-card-event></exsc-card-event>
      <exsc-card-event></exsc-card-event>
      <exsc-card-event></exsc-card-event>
      <exsc-card-event></exsc-card-event>
      <exsc-card-event></exsc-card-event>
      <exsc-card-event></exsc-card-event>
      <exsc-card-event></exsc-card-event>
      <exsc-card-event></exsc-card-event>
      <exsc-card-event></exsc-card-event>
      <exsc-card-event></exsc-card-event>
      <exsc-card-event></exsc-card-event>
      <exsc-card-event></exsc-card-event>
      <exsc-card-event></exsc-card-event>
      <exsc-card-event></exsc-card-event>
      <exsc-card-event></exsc-card-event>
      <exsc-card-event></exsc-card-event>
      <exsc-card-event></exsc-card-event>
      <exsc-card-event></exsc-card-event>
    </div>
  </div>
</div>
