:host {
  display: flex;
  flex-direction: column;
  padding: 0 2.4rem;
}

.header {
  h2 {
    padding-bottom: 1.2rem;
  }
}

.body {
  display: flex;
  flex-direction: column;

  .tabs {
    display: flex;
    width: fit-content;
    border-bottom: var(--border-default);
    margin-bottom: .8rem;

    .tab {
      padding: .4rem .8rem;
      color: var(--color-grey-dark);

      border-bottom: var(--border-default);
      border-bottom-color: currentColor;
      cursor: pointer;

      span {
        display: inline-block;
        transition: .1s ease-in;
      }

      &:hover {
        color: var(--color-text-brand-secondary);

        span {
          transform: translateY(-0.2rem);
          transition: .3s ease-out;
        }
      }

      &.active {
        color: var(--color-text-brand);
      }
    }
  }

  .dashboard {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.2rem;
    width: 100%;

    .filter {
      width: 25%;
      border: var(--service-border);
      flex-shrink: 0;
    }

    .cards {
      // width: 75%;
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      gap: inherit;

      &>* {
        // width: 100%;
      }
    }

    .tiles {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1fr;
    }
  }
}
