:host {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;

  .left-container,
  .right-container {
    display: flex;
    flex-direction: column;
    gap: inherit;
  }
}


.btn-group {
  gap: 0.8rem;
}

.organization-card {

  width: 100%;

  .btn-group {
    width: inherit;

    #organization {
      width: inherit;
    }
  }

}

.action-group {
  display: flex;
  padding: .2rem .4rem;
  justify-content: flex-end;
  align-items: center;
  gap: .4rem;
  align-self: stretch;

  .text-icons {
    width: fit-content;
  }
}
