<h3>Вход</h3>
<form [formGroup]="signinForm" (ngSubmit)="onSubmit()" name="sign-in">

  <label for="email">
    <span>Электронная почта</span>
    <input formControlName="email" id="email" name='email' type="email" placeholder="Электронная почта">
  </label>

  <label for="password">
    <span>Пароль</span>
    <input formControlName="password" type="password" placeholder="Пароль">
  </label>


  <button type="submit" class="btn btn-accent">
    <span class="icon arrow-right-32"></span>
  </button>

</form>

<div class="links">
  <a routerLink="/login/signup">Регистрация</a>
</div>
