/* You can add global styles to this file, and also import other style files */
//
textarea,
input {
  width: auto;
  border: var(--border-default);
  padding: 0.6rem 0.8rem;
  margin: 0.6rem 0;
  font: var(--text-body-base-single-line);
  color: var(--color-text)
}

form {
  display: flex;
  flex-direction: column;

  textarea,
  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="time"],
  input[type="date"] {
    border-radius: 0.4rem;
    width: 100%;
  }

  label {
    display: flex;
    flex-direction: column;
    font: var(--text-body-base);

    span {
      margin-bottom: 0.4rem;
    }
  }
}

button {
  border: none;
  width: fit-content;
  cursor: pointer;
}

input[type='search'] {
  border-radius: var(--border-radius-full);
}



.btn-group {
  display: flex;
  gap: 0.6rem;
  height: fit-content;
  width: fit-content;

  &.column {
    flex-direction: column;
  }

  &.btn-stretch {
    width: 100%;

    justify-content: stretch;

    &>.btn {
      width: inherit;
      min-width: none;
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding: 0.6rem 1.2rem;
  // min-width: 7rem;

  border-radius: 0.4rem;
  background: none;
  border: none;

  color: var(--color-text);
  font: var(--text-body-base-single-line);

  cursor: pointer;
  transition: all 0.3 ease-out;

  &:disabled {
    background: var(--color-grey);
    border: var(--border-default);
    border-color: var(--color-grey-dark);
  }

  &-small {
    padding: 0.4rem;
    border-radius: 0.4rem;
  }

  &:hover {
    transition-property: inherit;
    transition-duration: inherit;
    transition-timing-function: ease-in;
  }



  &.btn-primary {

    background-color: var(--bg-brand);
    border: 1px solid var(--bg-brand);
    color: var(--color-text-light);


    &:hover {

      background-color: var(--bg-brand-dark);
      border: 1px solid var(--bg-brand-dark);
      color: var(--color-text-light);

    }
  }

  &.btn-accent {


    background: var(--gradient-accent);
    border: 1px solid var(--gradient-accent);
    color: var(--color-text-light);



    &:hover>* {
      transform: translateY(-0.2rem);

    }
  }

  &.btn-subtle {
    border: 1px solid var(--bg-brand);
    color: var(--bg-brand);

    &:hover {
      border: 1px solid var(--bg-brand-dark);
      background-color: var(--bg-brand-light);
    }
  }

  &.btn-inline {
    gap: 0.2rem;
    padding: 0.1rem 0.2rem;

    &:hover {
      color: var(--bg-brand);


      .text,
      .icon {
        transform: translateY(-4px);
        transition: transform 200ms,
          color 200ms;
      }
    }
  }
}
