<exsc-card routerLink="/events/:{{eventItem._id}}" class="competition-card">
  <div headerContent class="card-image img_placeholder">
    <img onerror="this.style = 'display:none'" src="" alt="">
  </div>
  <div class="card-content">
    <div class="header">
      <h4>{{eventItem.nameShort}}</h4>
      <p class="subheading">{{eventItem.place}}</p>
    </div>

    <!-- надо ограничить длину описания до 4 строк и проставлением многоточий в конце -->

    <div class="description">{{eventItem.description}}</div>
    <!-- добавить модельное окошечко при наведении с полным текстом краткого описания -->
  </div>
  <div footerContent class="btn-group btn-stretch">
    <a routerLink="/events/:{{eventItem._id}}" class="btn btn-primary">Подробнее</a>
    <a routerLink="/events/:{{eventItem._id}}/bid" class="btn btn-subtle">Подать заявку</a>
  </div>
</exsc-card>
